@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font: 14px "Calibri", Futura, sans-serif;
    margin: 20px;

}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.8vw;
    /*letter-spacing: 4px;*/
    text-align: center;
}


h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    text-align: center;
    /*letter-spacing: 4px;*/
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4vw;
    text-align: center;
    line-height: 0;
    /*letter-spacing: 4px;*/
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
    text-align: center;
}

.image-layout {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .square-image-layout {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }

  /*would be nice to adapt bulb sizes to screen size like for images above*/
  /* But for some reason if we write "width: 3%; , all bulbs go to the left and I can't figure out how to fix this*/
.bulbs {
    width: 4vw;
    height: 4vw;
}

.labels {
    height: 3vw;
    width: 4vw;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: 'Comfortaa', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;


}

.button {
    align-items: center;
    color: white;
    font-size: 2vw;
    font-family: 'Comfortaa', serif;
    text-decoration: none;
    background: #FF6363;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.25);
}

.floating-button-next {
    align-items: center;
    color: white;
    font-size: 2vw;
    font-family: 'Comfortaa', serif;
    text-decoration: none;
    background: #FF6363;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.25);
    border-width: 0;

    position: absolute;
    bottom: 3%;
    right: 4%;
}

.floating-button-previous {
    align-items: center;
    color: white;
    font-size: 2vw;
    font-family: 'Comfortaa', serif;
    text-decoration: none;
    background: #FF6363;
    padding: 1vw;
    border-radius: 1vw;
    box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.25);
    border-width: 0;

    position: absolute;
    bottom: 3%;
    left: 4%;
}
